<h2 class="Blog_Title"> <%= @blog.title %></h2><br>

<div class="Blog_Content"> <%= @blog.content %></div>
<br>
<div class="Blog_Author">author: <%= @user.username %></div>
<hr>
<% if session[:user_id] == @blog.user_id %>
<div id="Edit_Blog_Buttons">
	<%= link_to "Edit Blog", edit_blog_path, method: :get %>
	<%= link_to "Delete Blog", blog_path, method: :delete %>
</div>
	<hr>
	<% end %>

<div id="comment_box">
	<% @blog.comments.each do |t| %>
	<div id="comments">
	<% user = User.find_by_id(t.user_id) %>
	<a href="/users/<%=user.id%>"><%= user.username%>:</a> <%= t.message %>
	<% if session[:user_id] == t.user_id %>
	 	<a href="/blogs/<%= @blog.id %>/comments/<%= t.id%>/edit" id="edit_comment_button">edit</a>
	 	<% end %>
	</div>
	
	<% end %>
</div>

<% if session[:user_id] %>
<hr>
<%= form_with(model: [@blog, @blog.comments.build]) do |f| %>
	<div class="form-group">
		<%= f.text_area :message, style: "font-size:12pt", size: "40x5" %>
	</div>
	<%= f.submit %>
	<% end %>
<% end %>