<h2 class="Blog_Title">Edit Account </h2>

<%= form_for @user do |t| %>
<div id="Edit_User">
	Username:<br> <%= t.text_field :username, style: "font-size: 12pt "%><br>
</div>
	<div id="Edit_User">
	Password:<br> <%= t.password_field :password, style: "font-size: 12pt" %><br>
</div>
	<%= t.submit %>
	<%end %>
<hr>
<div id="DeleteButton"> <input type="button" name="" value="Delete Account"></div>
	<div id="ConfirmDelete" style="display:none"><%= link_to "Confirm Delete Account", user_path, method: :delete %></div>

<script type="text/javascript" src="/assets/main.js"></script>
