<!DOCTYPE html>
<html>
  <head>
    <title>MingRailsBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar">
  		<ul>
  			<li><a href="/">Home</a></li>
  			<li><a href="/users">List of Users</a></li>
        <% if session[:user_id] == nil %>
        <li><a href="/users/new">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
        <% end %>
        <% if session[:user_id] %>
        <li><a href="/blogs/new">Create a Blog</a></li>
        <li><a href="/users/<%=session[:user_id]%>">Your Blogs</a></li>
        <li><a href="/users/<%=session[:user_id] %>/edit">Settings</a></li>
        <li><%= link_to "Logout", logout_path, method: :post %></li>
        <% end %>
  		</ul>
  	</nav>
  	<div id="flash_message"><%= flash[:message] if flash[:message] %></div>
    <%= yield %>
  </body>
</html>
